<div class="c-product-tray">
  
    <div class="o-wrapper">
    
      <h2 class="c-product-tray__heading">Our Products</h2><!-- /c-product-tray__heading -->
  
      <div class="c-product-tray__carousel">
        
        <div class="o-slider-product-tray">
          
          <div class="o-slider-product-tray__controls js-controls">
          
            <button class="o-slider-product-tray__button o-slider-product-tray__button--prev">
              <svg class="o-slider-product-tray__arrow o-slider-product-tray__arrow--prev" 
                   xmlns="http://www.w3.org/2000/svg" 
                   viewBox="-44 40.7 11 21.1">
                <path d="M-33.5 61.8L-44 51.3l10.5-10.6.5.5-10.1 10.1 10.1 10z"/>
              </svg><!-- /o-slider-product-tray__arrow -->          
            </button><!-- /o-slider-product-tray__button -->
  
            <button class="o-slider-product-tray__button o-slider-product-tray__button--next">
              <svg class="o-slider-product-tray__arrow o-slider-product-tray__arrow--next" 
                   xmlns="http://www.w3.org/2000/svg" 
                   viewBox="-44 40.7 11 21.1">
                <path d="M-33.5 61.8L-44 51.3l10.5-10.6.5.5-10.1 10.1 10.1 10z"/>
              </svg><!-- /o-slider-product-tray__arrow -->          
            </button><!-- /o-slider-product-tray__button -->
  
          </div><!-- /o-slider-product-tray__controls -->
  
          <ul class="o-slider-product-tray__inner js-slider-product-tray">
  
            <li class="o-slider-product-tray__slide">
  
              <div class="c-product-tile">
                  <img class="c-product-tile__image" src="https://tinyurl.com/y9swdle2
  ">
                  <h3 class="c-product-tile__name">Product Name</h3>
                    <span class="c-product-tile__price">£30.00</span>
              </div><!-- /c-product-tile -->
  
            </li><!-- /o-slider-product-tray__slide -->
  
            <li class="o-slider-product-tray__slide">
  
              <div class="c-product-tile">        
                <img class="c-product-tile__image" src="https://tinyurl.com/y9swdle2
  ">
                <h3 class="c-product-tile__name">Product Name</h3>
                <span class="c-product-tile__price">£30.00</span>
              </div><!-- /c-product-tile -->
  
            </li><!-- /o-slider-product-tray__slide -->
  
            <li class="o-slider-product-tray__slide">
  
              <div class="c-product-tile">        
                <img class="c-product-tile__image" src="https://tinyurl.com/y9swdle2
  ">
                <h3 class="c-product-tile__name">Product Name</h3>
                <span class="c-product-tile__price">£30.00</span>
              </div><!-- /c-product-tile -->
  
            </li><!-- /o-slider-product-tray__slide -->
  
            <li class="o-slider-product-tray__slide">
  
              <div class="c-product-tile">        
                <img class="c-product-tile__image" src="https://tinyurl.com/y9swdle2
  ">
                <h3 class="c-product-tile__name">Product Name</h3>
                <span class="c-product-tile__price">£30.00</span>
              </div><!-- /c-product-tile -->
  
            </li><!-- /o-slider-product-tray__slide -->
  
            <li class="o-slider-product-tray__slide">
  
              <div class="c-product-tile">        
                <img class="c-product-tile__image" src="https://tinyurl.com/y9swdle2
  ">
                <h3 class="c-product-tile__name">Product Name</h3>
                <span class="c-product-tile__price">£30.00</span>
              </div><!-- /c-product-tile -->
  
            </li><!-- /o-slider-product-tray__slide -->
  
            <li class="o-slider-product-tray__slide">
  
              <div class="c-product-tile">        
                <img class="c-product-tile__image" src="https://tinyurl.com/y9swdle2
  ">
                <h3 class="c-product-tile__name">Product Name</h3>
                <span class="c-product-tile__price">£30.00</span>
              </div><!-- /c-product-tile -->
  
            </li><!-- /o-slider-product-tray__slide -->
  
          </ul><!-- /o-slider-product-tray__inner -->
          
        </div><!-- /o-slider-product-tray -->
  
      </div><!-- /c-product-tray__carousel -->
      
      </div><!-- /o-wrapper -->
    
  </div><!-- /c-product-tray -->




  <!-- test 2 -->




<div class="product-carousel">
    <div class="product">
      <div class="product-top">
        <img class="product-image" src="assets/product04.png" />
        <!--div class="product-name">
          <p>Product Name</p>
        </div-->
      </div>
      <div class="product-bottom">
        <p class="product-prices">
          <span class="price-was">£22.00</span>
          <span class="price-save">£10.00</span>
          <span class="price-now">£12.00</span>
        </p>
        <button class="shop-now">Shop Now</button>
      </div>
    </div>
    <div class="product">
      <div class="product-top">
        <img class="product-image" src="assets/product03.png" />
              <!--div class="product-name">
              <p>Product Name</p>
        </div-->
      </div>
      <div class="product-bottom">
        <p class="product-prices">
          <span class="price">£12.00</span>
        </p>
        <button class="shop-now">Shop Now</button>
      </div>
    </div>
    <div class="product">
      <div class="product-top">
        <img class="product-image" src="assets/product02.png" />
        <img class="review-stars" src="http://www.yehdekh.com/wp-content/uploads/2016/04/stars.png" />
        <!--iv class="product-name">
          <p>Product Name That Could Be Really Long</p>
        </div-->
      </div>
      <div class="product-bottom">
        <p class="product-prices">
          <span class="price-was">£22.00</span>
          <span class="price-save">£10.00</span>
          <span class="price-now">£12.00</span>
        </p>
        <button class="shop-now">Shop Now</button>
      </div>
    </div>
    <div class="product">
      <div class="product-top">
        <img class="product-image" src="assets/product01.png" />
        <!--div class="product-name">
          <p>Product Name That Could Be Even Longer Than The Previous One</p>
        </div-->
      </div>
      <div class="product-bottom">
        <p class="product-prices">
          <span class="price-was">£22.00</span>
          <span class="price-now">£12.00</span>
        </p>
        <button class="shop-now">Shop Now</button>
      </div>
    </div>
    <div class="product">
      <div class="product-top">
        <img class="product-image" src="https://www.placehold.it/300x300" />
              <!--div class="product-name">
              <p>Product Name</p>
        </div-->
      </div>
      <div class="product-bottom">
        <p class="product-prices">
          <span class="price">£12.00</span>
        </p>
        <button class="shop-now">Shop Now</button>
      </div>
    </div>
      <div class="product">
      <div class="product-top">
        <img class="product-image" src="assets/product01.png" />
        <!--div class="product-name">
          <p>Product Name</p>
        </div-->
      </div>
      <div class="product-bottom">
        <p class="product-prices">
          <span class="price-was">£22.00</span>
          <span class="price-now">£12.00</span>
        </p>
        <button class="shop-now">Shop Now</button>
      </div>
    </div>
    <div class="product">
      <div class="product-top">
        <img class="product-image" src="assets/product02.png" />
              <!--div class="product-name">
              <p>Product Name</p>
        </div-->
      </div>
      <div class="product-bottom">
        <p class="product-prices">
          <span class="price">£12.00</span>
        </p>
        <button class="shop-now">Shop Now</button>
      </div>
    </div>
    <div class="product">
      <div class="product-top">
        <img class="product-image" src="assets/product03.png" />
        <img class="review-stars" src="http://www.yehdekh.com/wp-content/uploads/2016/04/stars.png" />
        <!--iv class="product-name">
          <p>Product Name That Could Be Really Long</p>
        </div-->
      </div>
      <div class="product-bottom">
        <p class="product-prices">
          <span class="price-was">£22.00</span>
          <span class="price-now">£12.00</span>
        </p>
        <button class="shop-now">Shop Now</button>
      </div>
    </div>
    <div class="product">
      <div class="product-top">
        <img class="product-image" src="assets/product04.png" />
        <!--div class="product-name">
          <p>Product Name That Could Be Even Longer Than The Previous One</p>
        </div-->
      </div>
      <div class="product-bottom">
        <p class="product-prices">
          <span class="price-was">£22.00</span>
          <span class="price-now">£12.00</span>
        </p>
        <button class="shop-now">Shop Now</button>
      </div>
    </div>
    <div class="product">
      <div class="product-top">
        <img class="product-image" src="assets/product01.png" />
              <!--div class="product-name">
              <p>Product Name</p>
        </div-->
      </div>
      <div class="product-bottom">
        <p class="product-prices">
          <span class="price">£12.00</span>
        </p>
        <button class="shop-now">Shop Now</button>
      </div>
    </div>
  </div>