@import "./css-variable.css";

/* start of nav bar */

.avatar-style {
  border-radius: 100%;
  max-height: 40px;
  margin: 10px 10px;
  }
  
  .btn-submit {
  background: var(--secondary-color);
  font-weight: 600;
  padding: 0.55rem 0.75rem;
  color: white;
  margin: 10px;
  cursor: pointer;
  }
  
  .btn-submit:hover {
  background: var(--secondary-color-dark);
  font-weight: 600;
  padding: 0.55rem 0.75rem;
  color: white !important;
  margin: 10px;
  cursor: pointer;
  }
  
  .btn-submit-green {
    background: var(--primary-color);
    font-weight: 600;
    padding: 0.55rem 0.75rem;
    color: white;
    margin: 10px;
    cursor: pointer;
  }
    
  .btn-submit-green:hover {
    background: var(--primary-color-dark);
    font-weight: 600;
    padding: 0.55rem 0.75rem;
    color: white !important;
    margin: 10px;
    cursor: pointer;
  }
  
  .header-logo:hover {
  cursor: pointer;
  }
  
  .btn-outline {
    border-color: var(--line-color);
    font-weight: 400;
    padding: 0.55rem 0.75rem;
    color: var(--text-color);
    margin: 10px;
  }
  
  .btn-outline:hover {
  border-color: var(--line-color);
  font-weight: 400;
  padding: 0.55rem 0.75rem;
  color: var(--text-color);
  background: var(--bg-color-light) !important;
  margin: 10px;
  }
  
  /* end of nav bar */

body {
  margin: 30px;
}

.product-card {
  border: none;
}

.card-title {
  font-size: 20px;
  font-family: var(--primary-font);
  text-transform: capitalize;
}

.price-text {
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.card-text {
  margin: 8px 0;
  text-transform: capitalize;
}

.title {
  font-family: var(--primary-font);
  font-size: 25px;
  color: var(--primary-color);
  font-weight: bold;
  text-transform: capitalize;
}

.my-list {
  font-family: var(--primary-font);
  border: none;
  margin-top: 10px;
  text-transform: capitalize;
}

.my-img {
  width: 250px;
  height: 250px;
}
