:root {
  --main-bg-color: #fff;
  --primary-color: #91d3c6;
  --secondary-color: #0e5191;
  --secondary-color-dark: #0a3761;
  --text-color: #404044;
  --bg-color-light: #2084e21e;
  --border-color-light: #d3d3d5;
  --border-color-dark: #a8a8ab;
}

h2 {
  font-size: 18px !important ;
  color: var(--text-color);
  padding-left: 5px;
}

body {
  padding: 15px 0px;
  font-family: "Open Sans", sans-serif;
}

.container {
  padding: 20px 0;
}

.headerElem {
  border-bottom: 1.5px solid #f4efe9;
  margin-bottom: 50px;
}
.footerElem {
  border-top: 2px solid #f4efe9;
  margin-top: 50px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

/* start of nav bar */

.bi-suit-heart {
  color: black;
}

.wishlist {
  margin: 20px 15px;
  font-size: 25px;
}

.avatar-style {
  border-radius: 100%;
  max-height: 40px;
  margin: 20px 10px;
}

.btn-submit {
  background: var(--secondary-color);
  font-weight: 600;
  /* padding: 0.55rem 0.75rem; */
  color: white;
  margin: 10px;
  cursor: pointer;
}

.btn-submit:hover {
  background: var(--secondary-color-dark);
  font-weight: 600;
  /* padding: 0.55rem 0.75rem; */
  color: white !important;
  margin: 10px;
  cursor: pointer;
}

.btn-submit-green {
  background: var(--primary-color);
  font-weight: 600;
  /* padding: 0.55rem 0.75rem; */
  color: white;
  margin: 10px;
  cursor: pointer;
}

.btn-submit-green:hover {
  background: var(--primary-color-dark);
  font-weight: 600;
  /* padding: 0.55rem 0.75rem; */
  color: white !important;
  margin: 10px;
  cursor: pointer;
}

.header-logo:hover {
  cursor: pointer;
}

.btn-outline {
  border-color: var(--line-color);
  font-weight: 400;
  /* padding: 0.55rem 0.75rem; */
  color: var(--text-color);
  margin: 10px;
}

.btn-outline:hover {
  border-color: var(--line-color);
  font-weight: 400;
  /* padding: 0.55rem 0.75rem; */
  color: var(--text-color);
  background: var(--bg-color-light) !important;
  margin: 10px;
}

/* end of nav bar */

/* banner carousel */

.flickity-page-dots {
  bottom: -4vh !important;
}

.carousel-product-name {
  font-size: 19px;
  font-weight: 500;
  color: var(--text-color);
  margin-top: 10px;
  /* line-height: 25px; */
}

.carousel-seller {
  font-size: 13px;
  color: darkgray;
  line-height: 25px;
}

.carousel-price {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 500;
}

.home-banner {
  margin: 40px 40px;
  /* padding: 0 80px; */
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* .gallery {
  background: #fff;
} */

.flickity-viewport {
  max-height: 400px !important;
  /* overflow: ; */
}

@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
  .gallery-cell {
    width: 100%;
    /* min-height: 450px !important; */
    margin-right: 10px;
  }
}

@media only screen and (min-width: 960px) {
  /* default iPad screens */
  .gallery-cell {
    width: 50%;
    /* min-height: 450px !important; */
    margin-right: 10px;
  }
}

@media only screen and (min-width: 1440px) {
  .gallery-cell {
    width: 33%;
    /* min-height: 450px !important; */
    margin-right: 20px;
  }
}

.featured-deals {
  margin: 50px 10px 40px 40px;
}

.interval {
  padding: 50px 0;
}

/* product carousel */

/* clearfix */

.owl-carousel .owl-wrapper:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ".";
  line-height: 0;
}

/* display none until init */

.owl-carousel {
  position: relative;
  display: none;
  width: 100%;
  -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
  position: relative;
  display: none;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
  float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */

.grabbing {
  cursor: url(../images/grabbing.png) 8 8, move;
}

/* fix */

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}

/* 
 *  Owl Carousel CSS3 Transitions 
 *  v1.3.2
 */

.owl-origin {
  -webkit-perspective: 1200px;
  -webkit-perspective-origin-x: 50%;
  -webkit-perspective-origin-y: 50%;
  -moz-perspective: 1200px;
  -moz-perspective-origin-x: 50%;
  -moz-perspective-origin-y: 50%;
  perspective: 1200px;
}

/* fade */

.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut 0.7s both ease;
  -moz-animation: fadeOut 0.7s both ease;
  animation: fadeOut 0.7s both ease;
}

.owl-fade-in {
  -webkit-animation: fadeIn 0.7s both ease;
  -moz-animation: fadeIn 0.7s both ease;
  animation: fadeIn 0.7s both ease;
}

/* backSlide */

.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}

.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}

/* goDown */

.owl-goDown-out {
  -webkit-animation: scaleToFade 0.7s ease both;
  -moz-animation: scaleToFade 0.7s ease both;
  animation: scaleToFade 0.7s ease both;
}

.owl-goDown-in {
  -webkit-animation: goDown 0.6s ease both;
  -moz-animation: goDown 0.6s ease both;
  animation: goDown 0.6s ease both;
}

/* scaleUp */

.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom 0.5s ease both;
  -moz-animation: scaleUpFrom 0.5s ease both;
  animation: scaleUpFrom 0.5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo 0.5s ease both;
  -moz-animation: scaleUpTo 0.5s ease both;
  animation: scaleUpTo 0.5s ease both;
}

/* Keyframes */

/*empty*/

@-webkit-keyframes empty {
  0% {
    opacity: 1;
  }
}

@-moz-keyframes empty {
  0% {
    opacity: 1;
  }
}

@keyframes empty {
  0% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes backSlideOut {
  25% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px);
  }
  75% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
  }
  100% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
  }
}

@-moz-keyframes backSlideOut {
  25% {
    opacity: 0.5;
    -moz-transform: translateZ(-500px);
  }
  75% {
    opacity: 0.5;
    -moz-transform: translateZ(-500px) translateX(-200%);
  }
  100% {
    opacity: 0.5;
    -moz-transform: translateZ(-500px) translateX(-200%);
  }
}

@keyframes backSlideOut {
  25% {
    opacity: 0.5;
    transform: translateZ(-500px);
  }
  75% {
    opacity: 0.5;
    transform: translateZ(-500px) translateX(-200%);
  }
  100% {
    opacity: 0.5;
    transform: translateZ(-500px) translateX(-200%);
  }
}

@-webkit-keyframes backSlideIn {
  0%,
  25% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateX(200%);
  }
  75% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0);
  }
}

@-moz-keyframes backSlideIn {
  0%,
  25% {
    opacity: 0.5;
    -moz-transform: translateZ(-500px) translateX(200%);
  }
  75% {
    opacity: 0.5;
    -moz-transform: translateZ(-500px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateZ(0) translateX(0);
  }
}

@keyframes backSlideIn {
  0%,
  25% {
    opacity: 0.5;
    transform: translateZ(-500px) translateX(200%);
  }
  75% {
    opacity: 0.5;
    transform: translateZ(-500px);
  }
  100% {
    opacity: 1;
    transform: translateZ(0) translateX(0);
  }
}

@-webkit-keyframes scaleToFade {
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
}

@-moz-keyframes scaleToFade {
  to {
    opacity: 0;
    -moz-transform: scale(0.8);
  }
}

@keyframes scaleToFade {
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

@-webkit-keyframes goDown {
  from {
    -webkit-transform: translateY(-100%);
  }
}

@-moz-keyframes goDown {
  from {
    -moz-transform: translateY(-100%);
  }
}

@keyframes goDown {
  from {
    transform: translateY(-100%);
  }
}

@-webkit-keyframes scaleUpFrom {
  from {
    opacity: 0;
    -webkit-transform: scale(1.5);
  }
}

@-moz-keyframes scaleUpFrom {
  from {
    opacity: 0;
    -moz-transform: scale(1.5);
  }
}

@keyframes scaleUpFrom {
  from {
    opacity: 0;
    transform: scale(1.5);
  }
}

@-webkit-keyframes scaleUpTo {
  to {
    opacity: 0;
    -webkit-transform: scale(1.5);
  }
}

@-moz-keyframes scaleUpTo {
  to {
    opacity: 0;
    -moz-transform: scale(1.5);
  }
}

@keyframes scaleUpTo {
  to {
    opacity: 0;
    transform: scale(1.5);
  }
}

/* Styling Next and Prev buttons */

.btn.gray.prev {
  right: -3vh;
  top: 22vh;
  z-index: 999;
}
.btn.gray.next {
  /* left: 16rem; */
  left: 95%;
  top: 22vh;
  z-index: 999;
}

.owl-pagination {
  padding-top: 10px;
}

.owl-theme .owl-controls .owl-buttons div {
  display: inline-block;
  margin: 5px;
  padding: 3px 10px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  color: #fff;
  font-size: 12px;
  opacity: 0.5;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}

/* Clickable class fix problem with hover on touch devices */

/* Use it for non-touch hover action */

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  text-decoration: none;
  opacity: 1;
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  margin: 5px 7px;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791;
  opacity: 0.5;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  opacity: 1;
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
  padding: 2px 10px;
  width: auto;
  height: auto;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #fff;
  font-size: 12px;
}

/* preloading images */

.owl-item.loading {
  min-height: 150px;
  background: url(../images/AjaxLoader.gif) no-repeat center center;
}

/* CUSTOM USER OPTIONS */

#slider-carousel {
  padding: 0 4vh;
}

.carousel-container {
  width: 100%;
}

a {
  color: white !important;
  font-size: 22px;
  font-weight: 800;
}

.item {
  margin: 0 15px;
  background: #fff;
  color: #333;
}

.item img {
  width: 100%;
}

.item h4 {
  margin-top: 10px;
  color: #333;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
}

.item p {
  color: #333;
  padding: 0 10px 30px;
  font-family: "Open Sans", sans-serif;
}

.product-carousel-container-outer {
  position: relative;
}
.header-logo .customNavigation {
  /* position: absolute; */
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  /* margin-right: 11px;
  text-align: right; */
}

.customNavigation .btn {
  position: relative;
  display: inline-block;
  overflow: visible;
  margin: 3px;
  /* padding: 0.8em 0.8em; */
  border-radius: 50px;
  box-shadow: none;
  color: #fff;
  text-transform: uppercase;
  text-shadow: none;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in 0s;
  -moz-transition: all 0.1s ease-in 0s;
  -o-transition: all 0.1s ease-in 0s;
  transition-property: all 0.1s ease-in 0s;
  -webkit-font-smoothing: antialiased;
  background: rgba(134, 134, 134, 0.315);
}

.customNavigation .btn:hover {
  background: rgba(34, 34, 34, 0.363);
}

.hoverfx {
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
  height: 25vh;
}

.hoverfx img {
  position: absolute;
  left: 0;
  width: 100%;
}

.hoverfx:before {
  display: inline-block;
  padding-top: 60%;
  content: "";
  vertical-align: middle;
}

.hoverfx .figure {
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 10px 15px;
  max-width: 90%;
  border: 0;
  color: #ecf0f1;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition-property: all 0.3s ease;
}

.hoverfx .figure:hover {
  background: #ff6363;
  color: #333;
}

.hoverfx .overlay {
  position: absolute;
  top: 0;
  z-index: 1;
  /* padding: 50%; */
  padding: 17px;
  /* background: #d3d3d52a; */
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition-property: all 0.3s ease;
}

.item:hover .figure,
.item:hover .overlay {
  opacity: 1;
}

/* end of product carousel */

.product-title {
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: small;
}
iframe {
  border: 0;
  width: 470px;
}
.bottom-right {
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}
