:root {
    --main-bg-color: #fff;
    --primary-color: #91D3C6;
    --secondary-color: #0E5191;
    --secondary-color-dark: #0a3761;
    --text-color: #404044;
    --bg-color-light: #2084e21e;
    --border-color-light: #d3d3d5;
    --border-color-dark: #a8a8ab;
}

h2 {
    font-size: 20px !important;
    font-weight: 500 !important;
    color: var(--text-color) !important;
    /* margin-top: 10px; */
}
  
.seller-name {
    font-size: 13px;
    color: darkgray;
    line-height: 25px;
  }
  
.product-price {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 500;
  }

.interior.container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blogBox .item {
    background: #f4f4f4;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    height: 100%;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.blogBox .item .blogTxt {
    padding: 25px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
/* .interior {
    border-bottom: 1px solid var(--border-color-light);
    position: relative;
    z-index: 1;
} */
.blogBox .item img {
    width: 100%;
    min-height: 188px;
}

.blogBox .item .blogCategory a {
    padding: 5px 10px 2px;
    border: 1px solid #616161;
    color: #616161;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.blogBox .item p {
    /* padding-bottom: 40px; */
}
p {
    margin: 0 0 10px;
    font-family: 'Roboto', sans-serif;
}
p, pre {
    margin: 0 0 1em 0;
}
a, a:link, a:focus, a:active, a:visited {
    outline: 0;
}
a, a:link, a:focus, a:active, a:visited {
    outline: 0;
}
.blogBox .item {
    background: #fff !important;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    height: 100%;
}
.blogBox .item img {
    width: 100%;
}
.blogBox .item .blogTxt {
    padding: 25px;
}
.blogBox .item h2 {
    margin: 21px 0;
    font-family: 'Open Sans', sans-serif;
}
.interior.blog .container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blogBox {
    margin-bottom: 30px;
    box-sizing: border-box;
}
.blogBox .item .blogCategory a:hover {
    background: #616161;
    color: #fff;
    text-decoration: none;
}
.blogBox .item:hover {
    background: #e8e8e8;
    cursor: pointer;
}
#loadMore {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    width: 100%;
}
#loadMore a {
    background: var(--primary-color);
    border-radius: 3px;
    color: white;
    font-weight: 500;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    padding: 10px 30px;
    transition: all 0.25s ease-out;
    -webkit-font-smoothing: antialiased;
}
#loadMore a:hover {
    background-color: var(--secondary-color-dark);
}

@media screen and (min-width: 991px) {
.blogBox .featured .blogTxt {
    max-width: 50%;
    width: 100%;
    padding: 50px;
    float: left;
    background: inherit;
    min-height: 378px;
}
}

@media screen and (min-width: 991px) {
.blogBox .featured h2 {
    font-size: 30px;
    font-style: italic;
}
}
@media screen and (min-width: 1200px) {
.blogBox .featured h2 {
    font-size: 42px;
}
}

@media screen and (min-width: 991px) {
.blogBox .featured .blogTxt {
    max-width: 50%;
    width: 100%;
    padding: 50px;
    float: left;
    background: inherit;
    min-height: 378px;
}
}

@media screen and (min-width: 991px) {
.blogBox .featured img {
    max-width: 50%;
    width: 100%;
    float: left;
    min-height: 378px;
}
}

@media screen and (min-width: 991px) {
.blogBox .featured .blogTxt {
    max-width: 50%;
    width: 100%;
    padding: 50px;
    float: left;
    background: inherit;
    min-height: 378px;
}
}
@media (min-width: 992px) {
.col-md-12 {
    width: 100%;
}
}

@media (min-width: 992px) {
.col-md-12 {
    width: 100%;
}
}

@media (min-width: 992px) {
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
}

@media (min-width: 768px) {
.col-sm-6 {
    width: 50%;
}
}