@import "./css-variable.css";

.myBtn {
  height: 60px;
  width: 60%;
  background-color: var(--secondary-color) !important;
  color: white !important;
}

.buttonContainer {
  margin: 20px 0 0 0;
}
.login_page_right {
  background-image: url("../assets/login-page.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.fw-bold {
  margin: 25px;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
.logo {
  padding-left: 37px;
  padding-top: 47px;
  margin-top: 10vh;
}
.or {
  border: solid 1px var(--dark-grey);
  border-radius: 40px;
  width: 45px;
  text-align: center;
  margin: 10px;
}

.registerTitle {
  color: var(--primary-dark);
  font-family: var(--title-font);
  font-weight: bold;
  padding-left: 37px;
  padding-top: 56px;
  font-size: 40px;
}

.registerPage {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  overflow-y: hidden;
}

.registerRightPage {
  background-image: url("../assets/Register-page.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.input-container {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
input {
  height: 50px;
  display: block;
  border-radius: 8px !important;
}

.displayflex {
  display: flex;
  justify-content: center;
}

.imageboxgoogle {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: none;
  background: none;
  outline: none;
  margin-bottom: 30px;
  border-radius: 10px;
}
.imageboxgoogle img {
  width: 60%;
  height: auto;
}

.ac-related-btn + button {
  border: none;
  outline: none;
}

.forgotbutton {
  border: none;
  background: none;
  text-decoration: none;
}

.container-xl {
  margin-top: 10vh;
}
