:root {
  --main-bg-color: #fff;
  --primary-color: #91d3c6;
  --primary-color-dark: #72a79c;
  --secondary-color: #0e5191;
  --secondary-color-dark: #09365f;
  --text-color: #404044;
  --bg-color-light: rgb(230, 230, 230);
  --line-color: #d3d3d5;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  padding: 20px 20px;
}
.description {
  padding-bottom: 40px;
  border-bottom: 1px solid var(--border-color-light);
}

.headerElem {
  border-bottom: 1.5px solid #f4efe9;
  margin-bottom: 50px;
}
.footerElem {
  border-top: 2px solid #f4efe9;
  margin-top: 50px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

/* start of nav bar */

body {
  padding: 15px 0px;
  font-family: "Open Sans", sans-serif;
}

.avatar-style {
  border-radius: 100%;
  max-height: 40px;
  margin: 10px 10px;
}

.btn-submit {
  background: var(--secondary-color);
  font-weight: 600;
  padding: 0.55rem 0.75rem;
  color: white;
  margin: 10px;
  cursor: pointer;
}

.btn-submit:hover {
  background: var(--secondary-color-dark);
  font-weight: 600;
  padding: 0.55rem 0.75rem;
  color: white !important;
  margin: 10px;
  cursor: pointer;
}

.btn-submit-green {
  background: var(--primary-color);
  font-weight: 600;
  padding: 0.55rem 0.75rem;
  color: white;
  margin: 10px;
  cursor: pointer;
}

.cancel-button {
  background: #f06c5c !important;
}

.cancel-button:hover {
  background: #8d3e35 !important;
}

.btn-like {
  color: grey;
}

.btn-wishlist:hover {
  background: #e0949a !important;
  color: white !important;
}

.btn-liked {
  color: #e0949a;
}

.btn-submit-green:hover {
  background: var(--primary-color-dark);
  font-weight: 600;
  padding: 0.55rem 0.75rem;
  color: white !important;
  margin: 10px;
  cursor: pointer;
}

.header-logo:hover {
  cursor: pointer;
}

.btn-outline {
  border-color: var(--line-color);
  font-weight: 400;
  padding: 0.55rem 0.75rem;
  color: var(--text-color);
  margin: 10px;
}

.btn-outline:hover {
  border-color: var(--line-color);
  font-weight: 400;
  padding: 0.55rem 0.75rem;
  color: var(--text-color);
  background: var(--bg-color-light);
  margin: 10px;
}

/* end of nav bar */
.card-body {
  border: none !important;
}
.card {
  border: none !important;
}

.product-detail-container {
  line-height: 40px;
  margin-bottom: 40px;
}
.product-price {
  font-size: 16px;
  color: var(--secondary-color);
}
.product-image-big {
  /* background: grey; */
  width: 350px;
  height: 350px;
  margin: 25px 0;
  /* border: 1px solid black; */
}

.flex-button {
  display: flex;
  flex-direction: column;
}

/* 
body
  > div:nth-child(2)
  > div
  > div:nth-child(1)
  > div.product-image-small-container
  > div {
  padding-left: 12px;
} */
/* .small-image-container {
  width: 400px;
}
.product-image-small {
  background: grey;
  width: 98px;
  height: 98px;

  box-sizing: border-box;

  border: 1px solid black;
}
.margin-top-turner {
  margin-bottom: 20px;
}

/* body > div > div > div:nth-child(2) > h1,
body > div > div > div:nth-child(2) > div:nth-child(2) > h5,
body > div > div > div:nth-child(2) > button,
body > div > div > div:nth-child(2) > div:nth-child(4) > h6,
body > div > div > div:nth-child(2) > div:nth-child(5),
body > div > div > div:nth-child(2) > div:nth-child(6) {
  margin-bottom: 20px;
} */
/* .map-icon-image {
  width: 30px;
}

.container-right-padding {
  padding-right: 600px;
  padding-bottom: 30px;
}
.create-campaign-button,
.register-button,
.about-button,
.question-button,
.news-button,
.contact-button,
.regulation-button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
  width: 10000px;
}
.related-product {
  width: 300px;
  height: 300px;
  background-color: grey;
  margin: 5px;
}
.relatedProducts,
.detailImage {
  display: flex;
  justify-content: space-evenly;
}
.relatedProducts {
  padding-left: 0;
} */

.product-name,
.title-name {
  font-size: 26px;
  color: var(--text-color);
  margin: 21px 0;
}

.related-image {
  width: 200px;
  height: 200px;
}

/* 
.footerIcon {
  margin: 20px;
} */
/* .centerPosition {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
/* .productDescription,
.productReview {
  border: 1px solid black;
} */
