@import "./css-variable.css";
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
.logo {
  padding-left: 37px;
  padding-top: 47px;
}

.logo {
  padding: 20px 0;
}
.register-left-page {
  padding: 5% 0;
  margin-top: 10vh;
}
.register-title {
  font-weight: bold;
  font-size: 40px;
}

.register-page {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  overflow-y: hidden;
}

.register-right-page {
  background-image: url("../assets/signin-page.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
/*  
.registerRightPage{
    height:100%;
} */

.input-container {
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
input {
  height: 50px;
  display: block;
  border-radius: 8px !important;
}

.myBtn {
  background-color: var(--secondary-color) !important;
  color: white !important;
  width: 50%;
  height: 50px;
  margin-bottom: 15px;
}

.button-container {
  margin: 20px 0 0 0;
}

.my-drop-box {
  height: 50px;
  border-radius: 10px !important;
  border-style: solid;
  padding: 0 !important;
  width: 100% !important;
}
.sign-in-link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
