@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,300&display=swap");

:root {
  --primary-color: #0e5191;
  --secondary-color: #91d3c6;

  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Poppins", sans-serif;
}
