:root {
  --main-bg-color: #fff;
  --primary-color: #91d3c6;
  --secondary-color: #0e5191;
  --secondary-color-dark: #0a3761;
  --text-color: #404044;
  --bg-color-light: #2084e21e;
  --border-color-light: #d3d3d5;
  --border-color-dark: #a8a8ab;
}

.headerElem {
  border-bottom: 1.5px solid #f4efe9;
  margin-bottom: 50px;
}

.bi-suit-heart {
  color: black;
  margin-top: 20px;
}

.wishlist {
  margin: 20px 15px;
  font-size: 25px;
}

.avatar-style {
  border-radius: 100%;
  max-height: 40px;
  margin: 20px 10px;
}

.btn-submit {
  background: var(--secondary-color);
  font-weight: 600;
  /* padding: 0.55rem 0.75rem; */
  color: white;
  margin: 10px;
  cursor: pointer;
}

.btn-submit:hover {
  background: var(--secondary-color-dark);
  font-weight: 600;
  /* padding: 0.55rem 0.75rem; */
  color: white !important;
  margin: 10px;
  cursor: pointer;
}

.btn-submit-green {
  background: var(--primary-color);
  font-weight: 600;
  /* padding: 0.55rem 0.75rem; */
  color: white;
  margin: 10px;
  cursor: pointer;
}

.btn-submit-green:hover {
  background: var(--primary-color-dark);
  font-weight: 600;
  /* padding: 0.55rem 0.75rem; */
  color: white !important;
  margin: 10px;
  cursor: pointer;
}

.header-logo:hover {
  cursor: pointer;
}

.btn-outline {
  border-color: var(--line-color);
  font-weight: 400;
  /* padding: 0.55rem 0.75rem; */
  color: var(--text-color);
  margin: 10px;
}

.btn-outline:hover {
  border-color: var(--line-color);
  font-weight: 400;
  /* padding: 0.55rem 0.75rem; */
  color: var(--text-color);
  background: var(--bg-color-light) !important;
  margin: 10px;
}

/* end of nav bar */
