/* @import "./css-variable.css"; */

:root {
  --main-bg-color: #fff;
  --primary-color: #91D3C6;
  --primary-color-dark: #72a79c;
  --secondary-color: #0E5191;
  --secondary-color-dark: #0a3761;
  --text-color: #404044;
  --bg-color-light: #2084e21e;
  --border-color-light: #d3d3d5;
  --border-color-dark: #a8a8ab;
}

/* start of nav bar */

body {
  padding: 15px 0px;
  font-family: 'Open Sans', sans-serif;
}

.avatar-style {
border-radius: 100%;
max-height: 40px;
margin: 10px 10px;
}

.btn-submit {
background: var(--secondary-color);
font-weight: 600;
padding: 0.55rem 0.75rem;
color: white;
margin: 10px;
cursor: pointer;
}

.btn-submit:hover {
background: var(--secondary-color-dark);
font-weight: 600;
padding: 0.55rem 0.75rem;
color: white !important;
margin: 10px;
cursor: pointer;
}

.btn-submit-green {
  background: var(--primary-color);
  font-weight: 600;
  padding: 0.55rem 0.75rem;
  color: white;
  margin: 10px;
  cursor: pointer;
  }
  
  .btn-submit-green:hover {
  background: var(--primary-color-dark);
  font-weight: 600;
  padding: 0.55rem 0.75rem;
  color: white !important;
  margin: 10px;
  cursor: pointer;
  }

.header-logo:hover {
cursor: pointer;
}

.btn-outline {
  border-color: var(--line-color);
  font-weight: 400;
  padding: 0.55rem 0.75rem;
  color: var(--text-color);
  margin: 10px;
}

.btn-outline:hover {
border-color: var(--line-color);
font-weight: 400;
padding: 0.55rem 0.75rem;
color: var(--text-color);
background: var(--bg-color-light);
margin: 10px;
}

/* end of nav bar */

.page-title {
  font-size: 30px;
  font-family: var(--primary-font);
  margin: 40px 0;
}

.myBtn {
  height: 60px;
  width: 60%;
  background-color: var(--primary-color) !important;
  color: white !important;
  margin: 10px;
}

.myBtn:hover {
  height: 60px;
  width: 60%;
  background: var(--primary-color-dark) !important;
  /* font-weight: 600; */
  /* padding: 0.55rem 0.75rem; */
  /* color: white !important; */
  /* margin: 10px; */
  cursor: pointer;
} 

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
