.centerContainer {
  margin: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#mainImageViewer {
  width: 400px;
  height: 400px;
  cursor: pointer;
}

.minorImage {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
